.body{
    background-image: url(img/nebula-2501324_1920.jpg);
    background-repeat:repeat-y;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}


.header{
    background-color: #6C4FD6;
    border: 0px;
    display: flex;
    }

.Home{
    width: 100px;
    height:50px;
    background-color: red;
    margin-left: 200px;
    margin-right: 50px;
    align-items: center;
    margin-top: 30px;
}

.About{
    width: 100px;
    height:50px;
    margin-right: 50px;
    margin-top: 30px;
}

.Action{
    width: 100px;
    height:50px;
    margin-right: 200px;
    margin-top: 30px;
}

.gallery__img {
    
    width: 100%;
    max-width: fit-content;
  height: auto;
    
}
.menu{
    margin: 50px;
    display: flex;
    gap: 100px;
}
.m1{
    display: block;

}
.m2{
    display: block;
}
.felso{
    margin-left: 10px;
    display: flex;
    gap: 300px;
}
.gombok1{
    display: flex;
    gap: 300px;
    margin-left: 15px;
}
.also{
    margin-left: 10px;
    display: flex;
    gap: 300px;
    margin-top: 20px;
}

.ar1{
    background-color: #090DF1;
    color:yellow;
    width: 100%;
    display: block;
}
.ar2{
    background-color: #090DF1;
    color:yellow;
    width: 478px;
    height: 38px;
    display: block;
}
.ar3{
    background-color: #090DF1;
    color:yellow;
    width: 100%;
    height: 30px;
    display: block;
}