.body{
    background-image: url(img/nebula-2501324_1920.jpg);
    background-repeat:repeat-y;
    height: 100%;
    margin: 0%;
}


.header{
    background-color: #6C4FD6;
    border: 0px;
    display: flex;
    }

.Home{
    width: 100px;
    height:50px;
    background-color: red;
    margin-left: 200px;
    margin-right: 50px;
    align-items: center;
    margin-top: 30px;
}

.About{
    width: 100px;
    height:50px;
    margin-right: 50px;
    margin-top: 30px;
}

.Action{
    width: 100px;
    height:50px;
    margin-right: 200px;
    margin-top: 30px;
}
.menu{
    height: 100%;
    margin-top: 20px;
    display: flex;
    gap: 400px;
    margin-left: 50px;
}
.felso{
    height: 100%;
    margin-top: 60px;
    display: flex;
    gap: 300px;
    margin-left: 50px;

    
}
.also{
    height: 100%;
    margin-top: 60px;
    display: flex;
    gap: 300px;
    margin-left: 50px;
    
}
.ar1{
    background-color: #090DF1;
    color:yellow;
    width: 504px;
    height: 38px;
    display: block;
}
.ar2{
    background-color: #090DF1;
    color:yellow;
    width: 331px;
    height: 38px;
    display: block;
}
.ar3{
    background-color: #090DF1;
    color:yellow;
    width: 226px;
    height: 38px;
    display: block;
}
@media screen and (max-width: 1200px) {
   .body{
    width: 100%;
    height: 100%;
   }
   .header{
    display:flex

   }
   .menu{
    gap: 250px;
   }
   .felso{
    gap: 200px;
   }
   .also{
    gap: 200px;
   }
  }
  @media screen and (max-width: 1160px) {
    .body{
     width: 100%;
     height: 100%;
    }
    .header{
     display:flex
 
    }
    .menu{
     gap: 220px;
     
    }
    .felso{
     gap: 180px;
     width: 100%;
     height: auto;
    }
    .also{
     gap: 180px;
    }

    
   }

   @media screen and (max-width: 700px) {
    .body{
        width:100%;
    }
    .header{
        width: auto;
        display:block
    }
.menu{
    display: block;
    width: 100%;
}
.felso{
    display: block;
    width: 100%;
}
.also{
    display: block;
    width: 100%;
}
.img{
    width: auto;
}

}
