.body{
    background-image: url(img/nebula-2501324_1920.jpg);
    background-repeat:repeat-y;
    height: 100%;
    width: 100%;
}


.header{
    background-color: #6C4FD6;
    border: 0px;
    display: flex;
    }

.Home{
    width: 100px;
    height:50px;
    background-color: red;
    margin-left: 200px;
    margin-right: 50px;
    align-items: center;
    margin-top: 30px;
}

.About{
    width: 100px;
    height:50px;
    margin-right: 50px;
    margin-top: 30px;
}

.Action{
    width: 100px;
    height:50px;
    margin-right: 200px;
    margin-top: 30px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gallery__item--1 {
   
   grid-column-start: 1;
   grid-row-start: 1 ;
   grid-row-end: 3;

}
.gallery__item--2{
   
    grid-column-start: 2;
    grid-row-start: 1 ;
   grid-row-end: 3;
}
.gallery__item--3{
    
    grid-column-start: 1;
    grid-row-start: 3 ;
   grid-row-end: 3;
}
.gallery__item--4{
    
    grid-column-start: 2;
    grid-row-start: 3 ;
   grid-row-end: 3;
}
.gallery__item--5{
    
    grid-column-start: 3;
    grid-row-start: 3 ;
   grid-row-end: 3;
}
.gallery__item--6{
    
    grid-column-start: 1;
    grid-row-start: 4 ;
   grid-row-end: 4;
}

.gallery__item--7{
    
    grid-column-start: 2;
    grid-row-start: 4 ;
   grid-row-end: 4;
}
.gallery__item--8{
    
    grid-column-start: 3;
    grid-row-start: 4 ;
   grid-row-end: 4;
}
.ar1{
    background-color: #090DF1;
    color:yellow;
    width: 504px;
    height: 38px;
    display: block;
}
.ar2{
    background-color: #090DF1;
    color:yellow;
    width: 331px;
    height: 38px;
    display: block;
}
.ar3{
    background-color: #090DF1;
    color:yellow;
    width: 226px;
    height: 38px;
    display: block;
}